$foncolor: #d89999;
$color: #ae7c78;
$gap: 20px;
$col: 12;
$col-1: 0 1 calc(100% / #{$col} * 1 - #{$gap});
$col-3: 0 1 calc(100% / #{$col} * 3 - #{$gap});
$col-4: 0 1 calc(100% / #{$col} * 4 - #{$gap});
$col-5: 0 1 calc(100% / #{$col} * 5 - #{$gap});
$col-6: 0 1 calc(100% / #{$col} * 6 - #{$gap});
$col-8: 0 1 calc(100% / #{$col} * 8 - #{$gap});
$col-12: 0 1 calc(100% / #{$col} * 12 - #{$gap});

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $color;
}
ol,
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color;
}
section {
  margin: 0 auto 80px auto;

  &:last-child {
    margin: 0 auto;
  }
}
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 $gap/2;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gap/2;
  margin-right: -$gap/2;
}
.col {
  margin: 0 $gap / 2;
}
.link {
  padding: 30px 70px;
  background: $foncolor;
  border-radius: 40px;
  width: calc(100% / 4 * 3);
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 0.9em;
  transition: all 0.3s ease;
  &:hover {
    background-color: #fff;
    color: $color;
    border: 4px solid $color;
  }
}
h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
}
h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}
/* HEADER START */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 4;
  background: white;
}
.header__nav {
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__nav-item {
  padding: 22px 0;
}
.header__nav-link {
  position: relative;
}
.header__nav-link:after {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: $color;
  height: 2px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__nav-link:hover:after {
  width: 100%;
}
.header__logo-img {
  height: 33px;
  width: 100%;
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.1);
  }
}
.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}
.burger__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.header__burger .burger__line:nth-child(1) {
  top: 0;
}
.header__burger .burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header__burger .burger__line:nth-child(3) {
  bottom: 0;
}
/* HEADER END */

/* MAIN START */
/* BANNER SECTION START */
.banner {
  margin: 172px auto 48px auto;
}
.banner__textblock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.banner__title {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 24px;

  span {
    font-family: Playfair Display;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.banner__desc {
  font-size: 24px;
  margin-bottom: 64px;
  line-height: 29px;
}
.banner .col-4 {
  &:nth-child(2) {
    margin-top: 59px;
  }
}
/* BANNER SECTION END */
/* ADVAN SECTION START */
.advantages__item-1 {
  padding-left: 100px;
  background: url(../img/svg/adv-1.svg) left top no-repeat;
}
.advantages__item-2 {
  padding-left: 100px;
  background: url(../img/svg/adv-2.svg) 40px top no-repeat;
}
.advantages__item-3 {
  padding-left: 100px;
  background: url(../img/svg/adv-3.svg) 20px top no-repeat;
}
.advantages__title {
  font-weight: 500;
}
/* ADVAN SECTION END */
/* POPULAR SECTION START */
.popular__title {
  text-align: center;
  margin-bottom: 63px;
}
.popular .row {
  justify-content: center;
}
.popular__subtitle {
  padding-top: 27px;
  margin-bottom: 20px;
}
.popular__desc {
  margin-bottom: 24px;
}
.popular__size {
  margin-bottom: 24px;
}
.popular__price {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 64px;
}
.popular__slider {
  position: relative;
  cursor: pointer;
  width: 100%;
  /*height: 30px;*/
}
.slider-arrow {
  cursor: pointer;
  position: relative;
  top: 20px;
  width: 50px;
  height: 4px;
  background-color: $color;
  left: 0;
  display: block;
}
.slider-prev {
  left: 44%;
  top: 4px;
  border: none;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;
    top: 4px;
    right: -6px;
    background-color: $color;
    transform: rotate(-45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    top: -10px;
    right: 0px;
    background-color: $color;
    transform: rotate(-45deg);
  }
}
.slider-next {
  left: 50%;
  border: none;
  top: 0px;
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;
    top: 4px;
    right: -6px;
    background-color: $color;
    transform: rotate(-45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    top: -10px;
    right: 0px;
    background-color: $color;
    transform: rotate(-45deg);
  }
}
.popular__img {
  object-fit: cover;
}
/* POPULAR SECTION END */
/* LINKS SECTION START */
.links__card {
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  &:hover .links__text {
    opacity: 0;
  }
  &:hover .links__title {
    transition: all 0.5s ease;
    transform: translate(-120%);
  }
  &:hover .links__desc {
    transition: all 0.5s ease;
    transform: translate(120%);
  }
}
.links__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: rgb(174, 124, 120);
  border-radius: 10px;
  opacity: 0.6;
}
.links__title {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  transform: translateX(0, 0);
  transition: all 0.5s ease;
}
.links__desc {
  transform: translateX(0, 0);
  transition: all 0.5s ease;
}
/* LINKS SECTION END */
/* PROMO SECTION START */
.promo {
  background: $color;
}
.promo__text {
  color: white;
  display: flex;
  flex-direction: column;
}
.promo__title {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.02em;
  padding: 40px 20px 24px 102px;
}
.promo__desc {
  font-size: 24px;
  line-height: 29px;
  padding: 0 121px 64px 102px;
}
.promo__img {
  background: url(../img/promo.jpg) center center no-repeat;
  background-size: cover;
}
/* PROMO SECTION END */
/* STEPS SECTION START */
.steps__title {
  text-align: center;
  margin-bottom: 36px;
}
.steps__card {
  padding-top: 60px;
  text-align: center;
}
.steps__card-1 {
  background: url(../img/svg/step-1.svg) center top no-repeat;
}
.steps__card-2 {
  background: url(../img/svg/step-2.svg) center top no-repeat;
}
.steps__card-3 {
  background: url(../img/svg/step-3.svg) center top no-repeat;
}
.steps__card-4 {
  background: url(../img/svg/step-4.svg) center top no-repeat;
}
.steps__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.steps__desc {
  padding: 0 2px;
}
/* STEPS SECTION END */
/* NEWS SECTION START */
.news .row {
  flex-wrap: nowrap;
  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
  }
}
.news__text {
  flex: $col-5;
  @media screen and (max-width: 1200px) {
    flex: $col-4;
  }
  @media screen and (max-width: 992px) {
    flex: $col-12;
  }
}
.news__title {
  padding-top: 70px;
  padding-bottom: 40px;
  @media screen and (max-width: 1200px) {
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.news__desc {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 40px;
  padding-right: 120px;
}
.news__social-list {
  display: flex;
}
.news__social-item {
  height: 20px;
  margin-right: 19px;
  &:nth-child(1) {
    width: 20px;
    background: url(../img/svg/instagram_icon.svg) center center no-repeat;
  }
  &:nth-child(2) {
    width: 12px;
    background: url(../img/svg/facebook_icon.svg) center center no-repeat;
  }
  &:nth-child(3) {
    width: 26px;
    background: url(../img/svg/twitter_icon.svg) center center no-repeat;
  }
}
.news__img-list1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: $col-3;
  gap: $gap / 2;
  @media screen and (max-width: 1200px) {
    flex: $col-4;
    gap: $gap / 2;
  }
  @media screen and (max-width: 992px) {
    flex: $col-6;
  }
}
.news__img-list2 {
  flex: $col-4;
  @media screen and (max-width: 992px) {
    flex: $col-6;
  }
}
.news__img-list2 img {
  height: 100%;
}
.news__img {
  object-fit: cover;
  vertical-align: middle;
}
/* NEWS SECTION END */
/* REVIEWS SECTION START */
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reviews__title {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.reviews__list {
  justify-content: space-around;
  text-align: center;
  margin-bottom: 64px;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__text {
  padding-bottom: 16px;
  & span {
    font-size: 15px;
  }
}
/* REVIEWS SECTION END */
/* CONTACTS SECTION START */
.contacts {
  background: url(../img/map.jpg);
  height: 645px;
}
.contacts .row {
  align-items: stretch;
}
.contacts__text {
  background: #f7fafc;
  margin: 52px 0 72px 0;
  min-height: 520px;
  border-radius: 12px;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
}
.contacts__title {
  padding: 40px 117px 42px 35px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 35px;
}
.contacts__desc {
  margin-bottom: 21px;
}
.contacts__desc span {
  font-weight: 500;
  margin-bottom: 32px;
}
/* CONTACTS SECTION END */
/* MAIN END */

/* FOOTER START */

/* FOOTER END */

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Laptops */
@media only screen and (max-width: 1200px) {
}
/* Tablets, Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Phones */
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, old Phones */
@media only screen and (max-width: 480px) {
}
