$foncolor: #d89999;
$color: #ae7c78;
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background: lime;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

/* HEADER START */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 56px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-bottom: 20px;
  z-index: 4;
}
.header_active {
  background: #0e1d28;
}
.container {
}
.header__nav {
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item {
  padding: 22px 0;
}
.header__nav-link {
}
.header__logo-link {
}
.header__logo-img {
  height: 33px;
  width: 100%;
}
/* HEADER END */

/* MAIN START */
/* BANNER SECTION START */

/* BANNER SECTION END */
/* POPULAR SECTION START */

/* POPULAR SECTION END */
/* LINKS SECTION START */

/* LINKS SECTION END */
/* PROMO SECTION START */

/* PROMO SECTION END */
/* STEPS SECTION START */

/* STEPS SECTION END */
/* NEWS SECTION START */

/* NEWS SECTION END */
/* REVIEWS SECTION START */

/* REVIEWS SECTION END */
/* CONTACTS SECTION START */

/* CONTACTS SECTION END */
/* MAIN END */

/* FOOTER START */

/* FOOTER END */

/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Laptops */
@media only screen and (max-width: 1200px) {
}
/* Tablets, Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Phones */
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, old Phones */
@media only screen and (max-width: 480px) {
}
